# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
db.sqlite3
staticfiles/
backend/test_db.sqlite3

# Django/React static build outputs
backend_core/Static/frontend/static/
backend_core/Static/frontend/*.js
backend_core/Static/frontend/*.css
backend_core/Static/frontend/*.map
backend_core/Static/frontend/asset-manifest.json
backend_core/Static/frontend/index.html

# Node.js / React
node_modules/
build/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs
logs/
*.log
backend/test_db.sqlite3
backend/backend_core/Static/frontend/static/js/main.b93d5d72.js.map
backend/backend_core/Static/frontend/static/js/main.b93d5d72.js
backend/backend_core/Static/frontend/static/js/main.166160d9.js.LICENSE.txt
backend/backend_core/Static/frontend/index.html
backend/backend_core/Static/frontend/static/css/main.7d771866.css
backend/backend_core/Static/frontend/static/css/main.7d771866.css.map
backend/backend_core/Static/frontend/static/css/main.a89cd125.css
backend/backend_core/Static/frontend/static/css/main.a89cd125.css.map
backend/test_db.sqlite3
/backend/backend_core/Static/frontend
