@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-primary text-neutral;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral;
  }
}

@layer components {
  .nav-link {
    @apply relative text-neutral py-2;
  }

  .nav-link::after {
    @apply content-[''] absolute bottom-0 left-0 w-full h-0.5 bg-accent scale-x-0 transition-transform duration-300 ease-in-out;
    transform-origin: bottom right;
  }

  .nav-link:hover::after,
  .nav-link.active::after {
    @apply scale-x-100;
    transform-origin: bottom left;
  }
  .btn {
    @apply px-4 py-2 rounded-md font-bold text-white bg-accent transition-colors duration-300;
  }

  .btn:hover {
    @apply bg-secondary;
  }

  .btn:active {
    @apply transform scale-95;
  }

  .overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 z-50 animate-overlay-show;
  }
}

@layer utilities {
  .fade-in-up {
    animation: fadeIn 1s ease-in-out both;
  }

  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  .slide-in-right {
    animation: slideInRight 0.3s ease-in-out both;
  }

  .slide-out-right {
    animation: slideOutRight 0.3s ease-in-out both;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes overlay-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
